@model IEnumerable<Thing1.Models.ClubMembership>

@{
    ViewBag.Title = Model.First().Club.name + " Members";
}

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h3>Members of @Model.First().Club.name</h3>
        <!-- Table -->
        <table class="table table-condensed">
            <!--Table Headings-->
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Member Until</th>
            </tr>
            <!--Table Content-->
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AspNetUser.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AspNetUser.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AspNetUser.Email)
                    </td>
                    <td>
                        @item.TermDate.ToString("MMM dd, yyyy")
                    </td>
                    <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </table>
        @*@Html.ActionLink("Add new member", "Create", new {id = Model.First().ClubId})*@
    </div>
</div>
@Html.ActionLink("Back to Club","Details", "Clubs", new { id = Model.First().ClubId}, null)
