@model Thing1.Models.MembershipOption

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Membership Option</h4>
    <hr />
    <!--List that displays all details of membership option-->
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Club.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Club.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypesOfMembershipOption.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypesOfMembershipOption.Description)
        </dd>

    </dl>

   @using (Html.BeginForm())
   {
    @Html.AntiForgeryToken()
       <!--Button to delete membership option-->
    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "ViewCurrentMembershipOptions", new { clubId = Model.ClubId })

    </div>
   }
</div>
