@model IEnumerable<Thing1.Models.MembershipOption>

@{
    ViewBag.Title = "Membership Options for " + ViewBag.ClubName + " (" + ViewBag.ClubNickName + ")";
}


<p>
</p>
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h3>Membership Options for @ViewBag.ClubName (@ViewBag.ClubNickName)</h3>
        <!-- Table -->
        <table class="table table-condensed">
            <!--Table Headings-->
            <tr>
                <th>Type</th>
                <th>Duration</th>
                <th>Expiration Date</th>
                <th>Price</th>
                <th>Description</th>
            </tr>


            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TypesOfMembershipOption.Description)
                    </td>
                    <td>
                        @{
                            if (@item.Duration == 1)
                            {
                                @Html.DisplayFor(modelItem => item.Duration) @Html.Raw(" year")
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.Duration) @Html.Raw(" years")
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpDate)
                    </td>
                    <td>
                        @Html.Raw("USD ") @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditMembershipOption", new { Id = item.Id, clubId = ViewBag.ClubId }) |
                        @Html.ActionLink("Delete", "DeleteMembershipOption", new { Id = item.Id })
                    </td>
                </tr>
                            }

        </table>
        @Html.ActionLink("Create New Membership Option", "CreateMembershipOption", new { clubId = ViewBag.ClubId })
    </div>
</div>
@Html.ActionLink("Back to Club", "Details", "Clubs", new { id = ViewBag.ClubId }, null )

