@model IEnumerable<Thing1.Models.MembershipOption>
<h1>
    <font size="20"><b>Membership Options</b></font>

</h1>
<table class="table">
    <tr>
        <th>
            Type
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            Is Active
        </th>
        <th>
            Club Name
        </th>
      

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TypesOfMembershipOption.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration) year(s)
        </td>
        <td>
            USD @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Is_Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Club.name)
        </td>
       
        <td>
            @Html.ActionLink("Create New", "CreateMembershipOptions", new { clubId = item.ClubId }) |
            @Html.ActionLink("Edit", "EditMembershipOptions", new { clubId=item.ClubId }) |
            @Html.ActionLink("Delete", "DeleteMembershipOption", new { id=item.Id })
        </td>
    </tr>
}

</table>
