@model Thing1.Models.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "Club Portal Home";
}

<!--Header-->
<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <div class="page-header text-center">
            <img src="~/Content/Images/UCLA-Anderson-logo.png" class="img-responsive center-block" alt="Responsive image">
        </div>
    </div>
</div>

<div class="row">
    <!--ASA Master Calendar goes here-->
    <div class="col-md-5 panel-default">
        <div class="panel-heading">All Anderson Events</div>
        <div class="panel-body">
            <div class="list-group">
                @foreach (var e in Model.eventsToDisplay)
                {
                    <a href="@Url.Action("Details", "Events", new { id = e.Id })" class="list-group-item">
                        <span class="badge">@e.StartsAt.ToString("MMM dd")<br />@e.StartsAt.ToString("h:mm tt")</span>

                        <h4 class="list-group-item-heading ">@e.Title</h4>
                        <p class="list-group-item-text">@((e.Description.Length > 100) ? e.Description.Substring(0, 100) + "..." : e.Description)</p>
                    </a>
                }
            </div>        
            <p>@Html.ActionLink("See All", "Index", "Events", null, null)</p>
        </div>
    </div>
    <!--Show list of user's upcoming events-->
    <div class="col-md-5 panel-default">
        <div class="panel-heading">My Upcoming Events</div>
        <div class="panel-body">
            <div class="list-group">
                @foreach (var e in Model.myEvents)
                {
                    <a href="@Url.Action("Details", "Events", new { id = e.Id })" class="list-group-item">
                        <span class="badge">@e.StartsAt.ToString("MMM dd")<br/>@e.StartsAt.ToString("h:mm tt")</span>

                        <h4 class="list-group-item-heading ">@e.Title</h4>
                        <p class="list-group-item-text">@((e.Description.Length > 100) ? e.Description.Substring(0, 100) + "..." : e.Description)</p>
                    </a>
                }
            </div>
            <p><a href="/Events#my">See All</a></p>
        </div>
    </div>
    <!--Show list of clubs that user is in organized by permissions-->
    <div class="col-md-2 panel-default">
        <div class="panel-heading">My Clubs</div>
        <div class="panel-body">
            <!--List of clubs user is an officer in-->
            <dl class="list-unstyled">
                <dt>Officer</dt>
                @foreach (var item in Model.clubMemberships)
                {
                    if (!item.CanEditClubData) { continue; }
                    <dd>@Html.ActionLink((string)item.Club.nickname, "Details", "Clubs", new { id = item.Club.Id }, null)</dd>
                }
            </dl>
            <!--list of clubs user is a member in-->
            <dl class="list-unstyled">
                <dt>Member</dt>
                @foreach (var item in Model.clubMemberships)
                {
                    <dd>@Html.ActionLink((string)item.Club.nickname, "Details", "Clubs", new { id = item.Club.Id }, null)</dd>
                }
            </dl>
        </div>
    </div>
</div>