@model Thing1.Models.Club
@using PagedList.Mvc;
@{
    ViewBag.Title = "Details";
}


<head>
    <meta name="viewport" content="width=device-width" />
    <title>Club Details</title>
</head>
<body>
    <div>
        <h3>Club Details</h3>
        <hr />

   
            <dl class="dl-horizontal">
                <dt>
                    Club Name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.name)
                </dd>

                <dt>
                    Club Nickname
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nickname)
                </dd>

                <dt>
                    Email
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.email)
                </dd>

                <dt>
                    Website URL
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.website)
                </dd>

                <dt>
                    Summary
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.description)
                </dd>

                <dt>
                    Logo
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.image)
                </dd>

                <dt>
                    Email Template
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.email_template)
                </dd>

                <dt>
                    Type of Club
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TypesOfClub.Description)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>
</body>
