@model Thing1.Models.ViewModels.ClubAndEventsViewModel
@using Thing1.Models.ViewModels


@{
    ViewBag.Title = "Club Details";
}
<!--Club Logo-->
<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <div class="page-header text-center">
            <img src="~/Content/Images/@Model.club.nickname-LOGO.png" class="img-responsive center-block" alt="Future Image">
        </div>
    </div>
</div>

<div class="row">

    <!--Show Info for Club-->
    <div class="col-md-5 panel-default">
        <div class="panel-heading">General Club Info</div>

        <div class="panel-body">

            <dl class="dl-horizontal" id="details-list-form">
                <dt>
                    Name
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.club.name)
                </dd>

                <dt>
                    Nickname
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.club.nickname)
                </dd>

                <dt>
                    Email
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.club.email)
                </dd>

                <dt>
                    Website
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.club.website)
                </dd>

                <dt>
                    Description
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.club.description)
                </dd>

                <!--
                 <dt>
                    Html.DisplayNameFor(model => model.image)
                </dt>

                <dd>
                   Html.DisplayFor(model => model.image)
                </dd>

                <dt>
                    Html.DisplayNameFor(model => model.email_template)
                </dt>

                <dd>
                    Html.DisplayFor(model => model.email_template)
                </dd>
                -->
                <dt>
                    Club Type
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.club.TypesOfClub.Description)
                </dd>

            </dl>

        </div>
    </div>
    <!--Displays Current Club Events-->
    <div class="col-md-5 panel-default">
        <div class="panel-heading">Upcoming Club Events</div>

        <div class="panel-body">
            @foreach (var item in Model.Events)
            {
                <div style="background-color:#d3d3d3">
                    <dl class="dl-horizontal" id="details-list-form">
                        <dt>
                            Title
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => item.Title)
                        </dd>
                        <dt>
                            Location
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => item.Location)
                        </dd>
                        <dt>
                            Start Time
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => item.StartsAt)
                        </dd>
                        <dt>
                            Food
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => item.Food)
                        </dd>
                        <dt>
                            Price
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => item.Price)
                        </dd>
                    </dl>
                </div>
            }

        </div>
    </div>
    <!--Displays important links-->
    <div class="col-md-2 panel-default">
        <div class="panel-heading">Important Links</div>

        <div class="panel-body">
            <ul>
             
                <li>
                    @Html.ActionLink("Join", "SelectMembershipOptions", "ClubMemberships", new { clubId = Model.club.Id }, null)
                </li> 
                <li>
                    @Html.ActionLink("Edit Club Details", "Edit", new { id = Model.club.Id })
                </li>
                <li>
                    @Html.ActionLink("Edit Member List", "Edit", "ClubMembersList", new { Id = Model.club.Id }, null)
                </li>
                <li>
                    @Html.ActionLink("Create New Event", "Create", "Events", new { clubID = Model.club.Id }, null)
                </li>
                <li>
                    @Html.ActionLink("Email", "Create", "Emails", new { @clubId = Model.club.Id }, null)
                </li>
                <li>
                    @Html.ActionLink("View Membership Options", "ViewCurrentMembershipOptions", "MembershipOptions", new { clubId = Model.club.Id }, null)
                </li>
                <li>
                    @Html.ActionLink("View PayPal Account", "ViewPayPalAccount", "PayPalAccounts", new { clubId = Model.club.Id }, null)
                </li>
              
                 
            </ul>
        </div>
    </div>
   
</div>
@Html.ActionLink("Back to List", "Index")