@using Microsoft.AspNet.Identity
@model Thing1.Models.ClubMembership

@{
        ViewBag.Title = "Membership Option Selection";
}

<h2>Welcome, @User.Identity.GetUserName()!</h2>
<h3>Membership options selected:</h3>
<h4>Club: @ViewBag.ClubName (@ViewBag.ClubNickName)</h4>

<!-- Insert code for showing multiple options selected? -->
<h4>Membership Period:
@{
    var periodText = "";
    if (@ViewBag.Duration == 1)
    {
        periodText += @ViewBag.Duration + " year";
    }
    else
    {
        periodText += @ViewBag.Duration + " years";
    }

    periodText += " (" + @ViewBag.JoinDate + "~" + @ViewBag.TermDate + ")";
}

@Html.Raw(periodText)
</h4>
<h4>Price (USD): @ViewBag.Price</h4>

@Html.ActionLink("Pay with Paypal Account", "PaymentWithPaypal", "Paypal",
    new {
        name = ViewBag.ClubNickName + " - " + periodText,
        currency = "USD",
        price = ViewBag.Price,
        quantity = "1",
        clubId = ViewBag.ClubId,
        membershipOption = ViewBag.MembershipOptionId,
        joinDate = ViewBag.JoinDate,
        termDate = ViewBag.TermDate,
        description = ViewBag.Description,
    },    
    new { @class = "btn btn-default" })

@Html.ActionLink("Cancel" , "Index" , "Clubs" , null , new { @class = "btn btn-default" })


