@model Thing1.Models.Event

@{
    ViewBag.Title = "Event Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div class="row" id="create-form">
        <div class="col-md-7 col-md-offset-1">
            <a class="clubs-h3" href=@Url.Action("Details", new { id = Model.Id})>
                @Html.DisplayFor(modelItem => modelItem.Title)
            </a>
            <p>
                <dl class="list-unstyled">
                    <dd><b>Date: </b>@Model.StartsAt.ToString("D") </dd>
                    <dd><b>Time: </b>@Model.StartsAt.ToString("t") to @Model.EndsAt.ToString("t")</dd>
                    <dd><b>Location: </b>@Html.DisplayFor(modelItem => Model.Location)</dd>
                    <dd><b>Description: </b>@Html.DisplayFor(modelItem => Model.Description)</dd>
                    <dd><b>Primary Club: </b>@Html.DisplayFor(modelItem => Model.Club.nickname)</dd>
                    <dd>
                        <b>Open to: </b>
                        @if (Model.IsPublic)
                        {
                            @:Everyone
                                        }
                        else
                        {
                            @:Members of
                                            foreach (var club in Model.Clubs)
                            {
                                @Html.DisplayFor(modelItem => club.nickname) <text> </text>
                            }
                        }
                    </dd>
                    <dd><b>Food: </b>@Html.DisplayFor(modelItem => Model.Food)</dd>
                    <dd><b>Main Contact: </b>@Html.DisplayFor(modelItem => Model.Contact)</dd>
                    <dd><b>Price: </b>@Html.DisplayFor(modelItem => Model.Price)</dd>
                </dl>
            </p>
            @{
                var sponsorClubs = new List<Thing1.Models.Club>();
                var displayEdit = false;
                sponsorClubs = Model.Clubs.ToList();
                foreach (var club in sponsorClubs)
                {
                    var clubMemberships = new List<Thing1.Models.ClubMembership>();
                    clubMemberships = club.ClubMemberships.ToList();
                    foreach (var membership in clubMemberships)
                    {
                        if (membership.CanEditClubData)
                        {
                            displayEdit = true;
                        }
                    }
                }
                if (displayEdit)
                {
                    <p>
                        @Html.ActionLink("Show RSVPs", "DisplayRSVPs", "EventsRSVPs", new { eventId = Model.Id }, null) |
                        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = Model.Id })

                    </p>
                }
            }
            <!--RSVP Link below-->
            @{
                if (ViewBag.isClubMember == true)
                {
                    <p>@Html.ActionLink("RSVP", "Create", "EventsRSVPs", new { eventId = Model.Id }, null)</p>
                }
            }
            @Html.ActionLink("Back to List", "Index")
        </div>
        <div class="col-md-3">
            <img src="~/Content/Images/@Model.Club.nickname-LOGO.png" style="height:auto; width:150px" />
        </div>
    </div>
</body>
</html>
