@model List<Thing1.Models.Event>

@{
    ViewBag.Title = "Upcoming Events";
}



@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">@Html.DisplayFor(modelItem => item.Title)</h3>
                </div>
                <div class="panel-body">
                    <dl class="list-unstyled">
                        <dt>Date: @item.StartsAt.ToString("D")</dt>
                        <dt>Time: @item.StartsAt.ToString("t") to @item.EndsAt.ToString("t")</dt>
                        <dt>Location: @Html.DisplayFor(modelItem => item.Location)</dt>
                        <dt>Description: @Html.DisplayFor(modelItem => item.Description)</dt>
                    </dl>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                    <!--RSVP Link below-->
                    <p>@Html.ActionLink("RSVP...", "Create", "EventsRSVPs", new { eventId = item.Id }, null)</p>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
}





