@model PagedList.IPagedList<Thing1.Models.Event>
@using PagedList.Mvc;
@using System.Collections.Generic;
@{
    ViewBag.Title = "My Upcoming Events";
}

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">@Html.DisplayFor(modelItem => item.Title)</h3>
                </div>
                <div class="panel-body">
                    <dl class="list-unstyled">
                        <dt>Date: @item.StartsAt.ToString("D")</dt>
                        <dt>Time: @item.StartsAt.ToString("t") to @item.EndsAt.ToString("t")</dt>
                        <dt>Location: @Html.DisplayFor(modelItem => item.Location)</dt>
                        <dt>Description: @Html.DisplayFor(modelItem => item.Description)</dt>
                        <dt>
                            Open to:
                            @if (item.IsPublic)
                            {
                                @:Everyone
                            }
                            else
                            {
                                foreach (var club in item.Clubs)
                                {
                                    @Html.DisplayFor(modelItem => club.nickname) <text> </text>
                                }
                            }
                        </dt>
                    </dl>
                    @Html.ActionLink("Details", "Details", new { id = item.Id,}) | 

                    <!--RSVP Link below-->
                    @Html.ActionLink("Change RSVP", "Create", "EventsRSVPs", new { eventId = item.Id }, null)

                </div>
            </div>
        </div>
    </div>
}
<br />
<div class="text-center">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>



