@using Microsoft.AspNet.Identity
@using System.Security.Claims

@{
    ViewBag.Title = "Congratulations";
}

<h2>Welcome to @ViewBag.ClubName (@ViewBag.ClubNickName)!</h2>
@{ 
    string salutation = User.Identity.GetUserName();
    Claim nameClaim = ((ClaimsIdentity)User.Identity).FindFirst("FirstName");
    Claim lastNameClaim = ((ClaimsIdentity)User.Identity).FindFirst("LastName");
    if (nameClaim != null)
    {
        salutation = nameClaim.Value;
        if (lastNameClaim != null)
        {
            salutation += " " + lastNameClaim.Value;
        }
    }
}
<h3> @salutation!</h3>
<br/>

<h4>
    Membership Period:
    @{
        var periodText = "";
        periodText += " " + @ViewBag.JoinDate + "~" + @ViewBag.TermDate;
    }

    @Html.Raw(periodText)
    <br /> <br /> <br />
    @Html.ActionLink("View All Club Memberships", "Index", "ClubMemberships", null, new { @class = "btn btn-default" })
</h4>

<br />
@Html.ActionLink("Go to the Club Page", "Index", "Clubs")


