@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Congratulations";
}

<h2>Welcome to @ViewBag.ClubName (@ViewBag.ClubNickName)!</h2>
<h3> @User.Identity.GetUserName()!</h3>
<br/>

<h4>
    Membership Period:
    @{
        var periodText = "";
        periodText += " " + @ViewBag.JoinDate + "~" + @ViewBag.TermDate;
    }

    @Html.Raw(periodText)
    <br /> <br /> <br />
    @Html.ActionLink("View All Club Memberships", "Index", "ClubMemberships", null, new { @class = "btn btn-default" })
</h4>

<br />
@Html.ActionLink("Go to the Club Page", "Index", "Clubs")


